@model IEnumerable<ClinicLibrary.DomainModel.Visit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            TotalCost
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @ClinicLibrary.Services.CostService.GetVisitCost(item)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Identifier }) |
            @Html.ActionLink("Details", "Details", new { id=item.Identifier }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Identifier })
        </td>
    </tr>
}

</table>
